.div_login{
    background-color: rgb(158, 20, 20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.div_login h1{
    font-weight: 700;
    font-size: 2rem;
}

.input{
    padding: 20px;
    border: none;
    outline: none;
    font-size: 15px;
}

.button{
    background-color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    opacity: 0.8;
}
.button:hover{
    background-color: black;
    color: white;
    opacity: 1;
    cursor: pointer;
}

#lilbtn{
    background-color: white;
    border: none;
    padding: 3px;
    width: 50%;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    opacity: 0.8;
}
#lilbtn:hover{
    background-color: black;
    color: white;
    opacity: 1;
    cursor: pointer;
}