/*Cabeçalho*/
.main_header {
    width: 100%;
    background-color: black;
}

.main_header .main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main_header .main_header_content .logo {
    flex-basis: 330px;
    padding: 20px;
    width: 100px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a{
    padding: 0 26px;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    height: 100%;
    color:white;
}

.main_header_content_menu ul li a:hover{
    color:black;
    background-color: rgb(158, 20, 20);
}

#fitlogo_header{
    border: 2px solid transparent;
    margin-bottom: -15px;
    width: 60%;
}
/*Fim Cabeçalho*/
/*1ª Dobra */
.main_cta{
    width:100%;
    background-image: url(../../img/aerobico.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.main_cta .main_cta_content{
    max-width: 1300px;
    margin:0 auto;
}
.main_cta .main_cta_content h1{
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p{
    font-size: 1.875em;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}
.main_cta .main_cta_content .btn{
    background-color: rgb(158, 20, 20);
    color:#fff;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.main_cta .main_cta_content .btn:hover{
    background-color: #fff;
    color:rgb(158, 20, 20);
    font-size: 0.9em;
    transition: 1s;
}


.main_cta .main_cta_content .main_cta_content_spacer{
    margin:0 auto;
    max-width: 1300px;
    padding: 170px 40px;
}
/*Video*/
.video{
    text-align: center;
}
.video h1{
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*2ª Dobra*/
.db2 h1{
    margin-top: 15px;
    font-size: 45px;
    text-align: center;
}

.db2 p{
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
}
/*1º Carrossel*/
.slideshow-container {
    width: 700px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#pbtn{
    font-size: 1.875em;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

#btn2{
    color:white;
    font-size: 25px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(158, 20, 20);
}

#btn2:hover{
    cursor: pointer;
    background-color: rgb(80, 217, 30);
    color: black;
    font-size: 30px;
    transition: 1s;
}
/*Fim 2ª Dobra*/
/*3ª Dobra*/
.db3{
    background-color:  rgb(158, 20, 20);
    padding-top: 5px;
    padding-bottom: 5px;
}
.db3_box{
    background-color: white;
    border-radius: 30px;
    margin: 50px 50px;
}

.db3 h1{
    padding-top: 5px;
    color: black;
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}

.db3_box img{
    display: block;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;

}

.db3 h2{
    color:  black;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
}

.db3 p{
    color:  black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.db3 .focus{
    color: rgb(234, 18, 18);
}

.db3 .focus:hover{
    cursor: pointer;
    font-size: larger;
    transition: 1s;
}

#pbtn2{
    font-size: 1.875em;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

#btn3{
    color:white;
    font-size: 25px;
    margin-bottom: 25px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(158, 20, 20);
}

#btn3:hover{
    cursor: pointer;
    background-color: rgb(80, 217, 30);
    color: black;
    font-size: 30px;
    transition: 1s;
}
/*Fim 3º Dobra*/
/*Opniões*/

.main_course_ratting_content_comment{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_course_ratting_content_comment h2{
    font-size: 45px;
}

.main_course_ratting_content_comment>header{
    flex-basis: 100%;
    color:#fff;
    text-align: center;
    margin-top:20px;
    font-size: 1.8em;
    margin-bottom:20px;
}

.main_course_ratting_content_comment > article{
    flex-basis:45%;
    border: 2px solid black;
    margin: 20px 15px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    color: black;
}

.main_course_ratting_content_comment > article h3{
    font-size: 1.2em;
    margin-bottom: 4px;
}

.main_course_ratting_content_comment > article img{
    width: 20px;
    margin-top: 5px;
    margin-bottom: 2px;
}

#egg img:hover{
    cursor: pointer;
}
/*Parceiros*/
.parceiros{
    text-align: center;
}
.parceiros h2{
    margin-top: 25px;
    font-size: 55px;
    margin-bottom: 25px;
}
.parceiros img{
    width: 70%;
    border-radius: 25px;
}
#parceirobtn{
    margin-top: 10px;
    color:white;
    font-size: 25px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(158, 20, 20);
}

#parceirobtn:hover{
    cursor: pointer;
    background-color: rgb(80, 217, 30);
    color: black;
    font-size: 30px;
    transition: 1s;
}
/*Fim Parceiros*/
/*4ª Dobra*/
.db4{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    margin-top: 30px;
    text-align: center;
}
.db4 img{
    width: 500px;
    border-radius: 25px;
}
.db4 h1{
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 5px;
}
.db4 h2{
    font-size: 45px;
}
.db4 p{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}
#db4icon1{
    width: 120px;
}
#db4icon2{
    width: 100px;
}
#db4p2{
    margin-top: 5px;
    font-size: 25px;
    margin-bottom: 15px;
}
.db4 button{
    margin-top: 10px;
    color:white;
    font-size: 25px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(158, 20, 20);
}

.db4 button:hover{
    cursor: pointer;
    background-color: rgb(80, 217, 30);
    color: black;
    font-size: 30px;
    transition: 1s;
}
/*Fim 4ª Dobra*/
/*Rodapé*/
footer{
    margin-top: 25px;
    background-color: rgb(149, 141, 141);
    border-top: 5px dashed black;
}
footer h1{
    font-size: 20px;
    margin-bottom: 5px;
}
footer li{
    font-size: 18px;
    margin-top: 2px;
}
.flex-container{
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#last{
    text-align: center;
    padding-bottom: 5px;
}