*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn {
    display: block;
    margin: 0 auto;
    background-color: grey;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    width: 15%;
    margin: auto;
}

.btn:hover{
    background-color: green;
    color: white;
    transition: 1s;
}

.center-table {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* This will center the table horizontally */
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%); /* This will center the table vertically */
}

table{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

td{
    padding: 10px;
}